<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    *{box-sizing: border-box; padding: 0; margin: 0;}
    input, button{outline: none;}
    body{
        background: #f2f2f2;
        background: linear-gradient(#f2f2f2, #ecf2f4);
        color:  #637d8b;
        font-family: "San Francisco", "Roboto", "Arial", sans-serif;
    }
    .hidden{display:none!important;}
    .container{
        width: 90%;
        max-width: 500px;
        margin: 15% auto 0 auto;
        background: white;
        border-radius: 3px;
        overflow:hidden;
        box-shadow: 2px 2px 5px #ccc;
        padding: 20px;
    }
    h1{font-size: 18px; font-weight: normal;}
    .left{
        float:left;
        width: 40%;
    }
    .right{
        float: right;
        width: 60%;
        border-left: 1px solid #efefef;
        padding-left: 20px;
    }
    .social{height: 30px; overflow: hidden; line-height:30px; display:block; margin: 0 20px 10px 0; font-size:13px; border-radius: 2px; color: white; text-decoration: none;}
    .social img{height: 30px; float:left; padding: 5px;}
    .social.facebook{background: #385d97;}
    .social.google{background: #d64c24;}
    form .action > div {display:inline-block; margin-bottom: 5px; cursor: pointer; font-weight: bold;}
    form .action > div:not(.active){color: #9c9c9c; font-weight: normal;}
    form input{width: 100%; font-size: 14px; margin: 5px 0; padding: 5px; border: 1px solid #e2e2e2;}
    form .forgot{text-align: right; margin: 5px 0; color: #9c9c9c; font-size: 15px; display:block; text-decoration: none;}    
    form button{width: 100%; padding: 7px 0; margin: 5px 0 0 0; font-size: inherit; color: white; background: #637d8b; border: none; font-size: 14px;}
    .message{padding: 10px; background: #9e9e9e; color: white; border-radius: 2px; margin: 5px 0;}
    input:focus{border: 1px solid #637d8b;}

    @media screen and (max-width: 560px){
        .left, .right{
            float:none;
            border:none;
            padding: 0;
            width: 100%;
        }
        .social{margin-right: 0;}
        .left{margin-bottom: 20px;}
    }
</style>
