<!doctype html>
<html>
  <head>
    <title>Login / Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/head %>
    <style>
      h1{
      text-align: center;
      margin-top: calc(15% - 15px);
      color: #e2e2e2;
      font-size: 35px;
      font-weight: normal;
      text-shadow: 0px 0px 2px #a2a2a2;
      }
      .container{
      margin-top: 15px;
      }
    </style>
  </head>
  <body>
    <h1><%= app %></h1>
    <div class="container">
      <div class="left">
        <a class="social facebook" href="facebook/auth">
	  <img src="/assets/facebook.png" alt="facebook login">Login with Facebook
	</a>
        <a class="social google" href="google/auth">
	  <img src="/assets/google.png" alt="google login">Login with Google
	</a>
      </div>
      <form class="right" action="/local/login" method="post">
	<div class="action">
	  <div class="active">LOGIN</div> / <div>REGISTER</div>
	</div>

        <% if (message && message.length > 0) { %>
	<div class="message"><%= message %></div>
	<% } %>

        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
	<a href="/local/password" class="forgot">
          Forgot password?
	</a>
	<button type="submit">LOGIN</button>
      </form>
    </div>
    <script>

(function(){
    function init(){
	var $els = document.querySelectorAll(".action > div"),
	    $form = document.querySelector('form'),
	    $forgot = document.querySelector('.forgot'),
	    $message = document.querySelector('.message');
	
	if(location.search === '?register') _register(true);
	else if(location.search === '?login' || location.search === '') _login(true);
	
	$els[0].addEventListener('click', _login);
	$els[1].addEventListener('click', _register);
	function _login(isInit){
	    $form.setAttribute('action', '/local/login');
	    $els[0].setAttribute('class', 'active');
	    $els[1].setAttribute('class', '');
	    $forgot.classList.remove('hidden');
	    if($message && isInit !== true) $message.remove();
	}
	function _register(isInit){
	    $form.setAttribute('action', '/local/register');
	    $els[0].setAttribute('class', '');
	    $els[1].setAttribute('class', 'active');
	    $forgot.classList.add('hidden');
	    if($message & isInit !== true) $message.remove();    
	}
    }
    window.onload = init
})()

      </script>
  </body>
</html>
