<!doctype html>
<html>
  <head>
    <title>Reset your password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      <% if (withForm) { %>
      <h1>Reset your password</h1>
      <% } %>
      
      <% if (message) { %>
      <div class="<%= withForm ? 'message' : null %>"><%= message %></div>
      <% } %>
      
      <% if (withForm) { %>
      <form action="/local/password" method="post">
        <input type="text" name="email" placeholder="Email">
	<button type="submit">SUBMIT</button>
      </form>
      <% } %>
    </div>
    </script>
  </body>
</html>
