<!doctype html>
<html>
  <head>
    <title>Reset your password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      <h1>Reset your password</h1>
      <% if (message && message.length > 0) { %>
      <div class="message"><%= message %></div>
      <% } %>

      <form action="/local/password" method="post">
        <input type="password" name="password" placeholder="Password">
	<input type="password" name="password_check" placeholder="Retype your Password">
	<input type="hidden" name="code" value="<%= code %>">	
	<button type="submit">SUBMIT</button>
      </form>
    </div>
  </body>
</html>
