<!doctype html>
<html>
  <head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/head %>
    <style>
      .container{text-align:center; position:relative;}
      .logout{
      display: block;
      background-color: #637d8b;
      margin: 20px -20px -20px -20px;
      padding: 10px;
      }
      .delete{
      color: #9a9a9a;
      text-decoration: none;
      display: block;
      position:absolute;
      right: 20px;
      top:10px;
      font-family: monospace;
      font-size:16px;
      }
      img{height:60px;}
      .logout img{height:30px;}
      .login {margin: 35px 15%; text-align: left;}
      .login .social{margin: 10px 0;}
    </style>
  </head>
  <body>
    <div class="container">
      <a class="delete" href="/delete">
	x
      </a>
      <img src="/assets/profile.png">
      <h1>
	<%= user.local.email %>
      </h1>
      <p class="login">
	<a class="social facebook" href="facebook/auth"><img src="/assets/facebook.png" alt="facebook login">Login with Facebook</a>
        <a class="social google" href="google/auth"><img src="/assets/google.png" alt="google login">Login with Google</a>
      </p>
      <a class="logout" href="/logout">
	<img src="/assets/logout.png">
      </a>
    </div>
    <script>
    (function(){
	var $delete = document.querySelector('.delete');
	$delete.addEventListener('click', function(e){
	    var res = confirm('Are you sure you want to delete your account?');
	    if(!res) e.preventDefault();
	})
    })()
    </script>
  </body>
</html>
