<!doctype html>
<html>
  <head>
    <title>Password Reset</title>
    <% include ./partials/mail_tmpl %>	
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
	<td>&nbsp;</td>
	<td class="container">
	  <div class="content">

	    <!-- START CENTERED WHITE CONTAINER -->
	    <span class="preheader">Reset your {{APP}} password</span>
	    
	    <table class="main">
	      <!-- START MAIN CONTENT AREA -->
	      <tr>
		<td class="wrapper">
		  <table border="0" cellpadding="0" cellspacing="0">
		    <tr>
		      <td>
			<p>Hi There,</p>
			<p>Somebody (hopefully you) request</p>
			<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
			  <tbody>
			    <tr>
			      <td align="left">
				<table border="0" cellpadding="0" cellspacing="0">
				  <tbody>
				    <tr>
				      <td> <a href="http://htmlemail.io" target="_blank">Call To Action</a> </td>
				    </tr>
				  </tbody>
				</table>
			      </td>
			    </tr>
			  </tbody>
			</table>
			<p>This is a really simple email template. It's sole purpose is to get the recipient to click the button with no distractions.</p>
			<p>Good luck! Hope it works.</p>
		      </td>
		    </tr>
		  </table>
		</td>
	      </tr>

	      <!-- END MAIN CONTENT AREA -->
	    </table>

	    <!-- START FOOTER -->
	    <div class="footer">
	      <table border="0" cellpadding="0" cellspacing="0">
		<tr>
		  <td class="content-block">
		    <span class="apple-link">Company Inc, 3 Abbey Road, San Francisco CA 94102</span>
		    <br> Don't like these emails? <a href="http://i.imgur.com/CScmqnj.gif">Unsubscribe</a>.
		  </td>
		</tr>
		<tr>
		  <td class="content-block powered-by">
		    Powered by <a href="http://htmlemail.io">HTMLemail</a>.
		  </td>
		</tr>
	      </table>
	    </div>

	    <!-- END FOOTER -->

	    <!-- END CENTERED WHITE CONTAINER --></div>
	</td>
	<td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
