<!doctype html>
<html>
  <head>
    <title>Simple Transactional Email</title>

  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
	<td>&nbsp;</td>
	<td class="container">
	  <div class="content">

	    <!-- START CENTERED WHITE CONTAINER -->
	    <span class="preheader">Welcome to {{APP}}</span>
	    
	    <table class="main">
	      <!-- START MAIN CONTENT AREA -->
	      <tr>
		<td class="wrapper">
		  <table border="0" cellpadding="0" cellspacing="0">
		    <tr>
		      <td>
			<p>Hi There,</p>
			<p>By creating an account with us, you'll reach a completly new world to plan your holidays. </p>
			<p>A few things you can now do: </p>			
			<ul>
			  <li>Create your own guide and use it even if you don't have internet</li>
			  <li>Wether you want to relax, feel adventurous or want to spend time in family, we'll get you covered</li>
			  <li>Receive suggestions on the road in case the weather isn't nice with you</li>
			  <li>Share your trip and where you've been on your favorite social media</li>
			</ul>
			<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
			  <tbody>
			    <tr>
			      <td align="left">
				<table border="0" cellpadding="0" cellspacing="0">
				  <tbody>
				    <tr>
				      <td> <a href="http://htmlemail.io" target="_blank">Go back to youplo</a> </td>
				    </tr>
				  </tbody>
				</table>
			      </td>
			    </tr>
			  </tbody>
			</table>
			<p>Enjoy your trip!</p>
			<p>The youplo team</p>
		      </td>
		    </tr>
		  </table>
		</td>
	      </tr>
	    </table>

	    <div class="footer">
	      <table border="0" cellpadding="0" cellspacing="0">
		<tr>
		  <td class="content-block">
		    <span class="apple-link">Company Inc, 3 Abbey Road, San Francisco CA 94102</span>
		    <br> Don't like these emails? <a href="http://i.imgur.com/CScmqnj.gif">Unsubscribe</a>.
		  </td>
		</tr>
		<tr>
		  <td class="content-block powered-by">
		    Powered by <a href="http://htmlemail.io">HTMLemail</a>.
		  </td>
		</tr>
	      </table>
	    </div>

	    <!-- END FOOTER -->

	    <!-- END CENTERED WHITE CONTAINER --></div>
	</td>
	<td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
